<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IPracticeService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/PracticeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPracticeService"
                contract="PracticeWCFService.IPracticeService" name="NetTcpBinding_IPracticeService">
                <identity>
                    <userPrincipalName value="LAPTOP-V6HRUEDB\rajoi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>